{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<body>
    <h1>Anti Passoire</h1>
    <a href="{{ path('app_login') }}">Connexion</a>

    {# Le champ de recherche d'anti passoire par mots clés#}
    {{ form(form) }}

    {% if antiPassoires is not empty %}
        <ul>
        {% for antiPassoire in antiPassoires %}
            <li>{{ antiPassoire.title }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</body>
{% endblock %}
