{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<body>
    <h1>Anti Passoire</h1>
    <a href="{{ path('app_login') }}">Connexion</a>

</body>
{% endblock %}
