{% extends 'base.html.twig' %}

{% block navbarList %}
    <li><a href="{{ path('admin_category_list') }}">Categories</a></li>
    <li><a href="{{ path('admin_antipassoire_list') }}">Anti passoire</a></li>
{% endblock %}
