{% extends 'base.html.twig' %}

{% block body %}
    <h2>Panneau d'admin</h2>

    <p>Ici tu peux :</p>
    <ul>
        <li><a>Créer une catégorie</a></li>
        <li><a>Créer un anti passoire</a></li>
    </ul>
{% endblock %}
