{% extends 'base.html.twig' %}

{% block body %}
    <h2>Panneau d'admin</h2>

    <nav>
        <ul>
            <li><a href="{{ path('admin_category_list') }}">Categories</a></li>
            <li><a href="{{ path('admin_antipassoire_list') }}">Anti passoire</a></li>
        </ul>
    </nav>
{% endblock %}
