// Variables
:root {
    --message-duration: 7s;
    --color-message-error: #B30000;
    --color-message-info: #0000FF;
    --color-message-success: forestgreen; //#008A00
}

// Animations

// Display, wait a little and hide
@keyframes showMessage {
    from {
        left: -3000px;
        opacity: 0;
    }
    8% {
        left: 25px;
    }
    11% {
        opacity: 1;
        left: -10px;
    }
    13% {
        left: 5px;
    }
    15% {
        left: 0;
    }
    95% {
        left: 0;
    }
    94% {
        left: -5px;
    }
    96% {
        left: 20px;
    }
    98% {
        left: 2px;
    }
    99% {
        opacity: 1;
        left: -50px;
    }
    to {
        opacity: 0;
        left: -3000px;
    }
}

// Hide
@keyframes hideMessage {
    from {
        opacity: 1;
        left: 0;
    }
    25% {
        left: -5px;
    }
    50% {
        left: 20px;
    }
    75% {
        left: 2px;
    }
    90% {
        opacity: 1;
        left: -50px;
    }
    to {
        opacity: 0;
        left: -3000px;
    }
}

// The message box
.alert {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: -3000px;
    z-index: 50;
    cursor: pointer;
    max-width: 85vw;
    min-height: 5rem;
    padding: 1rem;
    background-color: cornflowerblue;
    font-size: larger;
    animation-name: showMessage;
    animation-duration: var(--message-duration);
    border: 1px solid #555555;
    border-radius: 16px;

    // Pause animation
    &.paused {
        animation-play-state: paused;
    }

    // hide notification
    &.hide {
        animation-name: hideMessage;
        animation-duration: 1s;
    }

    // Change color according to status
    &.alert-success {
        background-color: var(--color-message-success);
    }

    &.alert-info {
        background-color: var(--color-message-info);
    }

    &.alert-error {
        background-color: var(--color-message-error);
    }

    // Center message
    p.alert-text {
        text-align: center;
    }
}
