*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: inherit;
}

a,
a:hover,
a:active,
a:visited {
    color: inherit;
}

body {
    font-size: 16px;
    background-color: lightgray;
}

header {
    background-color: #555555;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1280px;
        height: 128px;
        margin: auto;
        padding: 0 20px;

        h1 {
            font-size: 4em;

            a {
                color: whitesmoke;
            }
        }

        a.login {
            width: auto;
            height: 50px;
            line-height: 50px;
            font-size: 1.5rem;
            color: dimgray;
            background-color: #555555;
            border: 1px solid #555555;
            border-radius: 15px;
            padding: 0 16px;
            transition: all .5s;

            &:hover {
                background-color: whitesmoke;
                border: 1px solid whitesmoke;
            }

            &:active {
                color: whitesmoke;
                background-color: #555555;
                border: 1px solid whitesmoke;
            }
        }
    }
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1280px;
    margin: auto;

    .left-col {

        .admin-navbar {
            ul {
                display: block;
                text-align: center;
                width: 256px;
                line-height: 80px;
                font-size: 2rem;
                margin-top: 16px;
                padding: 16px;
                background-color: darkgrey;
                border: 1px solid #555555;
                border-radius: 10px;

                li {

                    a {
                        color: dimgray;
                        transition: color .5s;

                        &:hover {
                            color: #FF8800;
                        }

                        &:active {
                            color: whitesmoke;
                        }
                    }
                }
            }
        }

        .search {
            width: 256px;
            margin-top: 16px;
            padding: 16px;
            color: dimgray;
            background-color: darkgrey;
            border: 1px solid #555555;
            border-radius: 10px;

            label {
                margin-top: 0;
            }

            input {
                width: 86%;
                margin-top: 16px;
            }

            .btn {
                margin-left: 19%;
                color: dimgray;
            }
        }
    }

    .content {
        width: 903px;
        margin-left: 20px;
        margin-top: 16px;
        padding: 2rem;
        background-color: dimgray;
        border: 1px solid #555555;
        border-radius: 10px;
        color: whitesmoke;

        .welcome {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            p {
                font-size: 2rem;
                line-height: 2rem;

                &:not(:first-child) {
                    margin-top: 3rem;
                }
            }
        }

        h2 {
            text-align: center;
            font-size: 3rem;

            &.antipassoire-title {
                margin-bottom: 32px;
            }
        }

        .search-result {

            &-msg {
                text-align: center;
                font-size: 2rem;
                margin-top: 16px;
            }

            &-antipassoires {

                .antipassoire {
                    display: block;
                    width: 800px;
                    height: auto;
                    margin: 32px auto 0;
                    padding: 16px;
                    border: 1px solid whitesmoke;
                    border-radius: 16px;
                    transition: border-color .5s;

                    &:first-of-type {
                        margin-top: 64px;
                    }

                    &:hover {
                        border-color: #FF8800;
                    }
                    &:active {
                        border-color: dimgrey;
                    }
                    //&:hover .antipassoire-title,
                    //&:active .antipassoire-title {
                    //    color: #FF8800;
                    //}

                    &-categories {

                        .category-label {
                            display: inline-block;
                            margin-right: 8px;
                            padding: 5px 8px;
                            background-color: darkgrey;
                            border-radius: 8px;
                        }
                    }

                    &-title {
                        font-size: 1.8rem;
                        text-align: center;
                        margin: 8px 0 16px;
                        transition: color .5s;
                    }

                    &-excerpt {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        ul.pagination {
            font-size: 1.5rem;
            text-align: center;
            margin: 32px auto 16px;

            li {
                display: inline-block;
                margin-right: 24px;

                &.current {
                    color: #FF8800;
                }

                &.clickable {
                    cursor: pointer;
                    color: inherit;
                    transition: color .5s;

                     &:hover {
                        color: #FF8800;
                     }

                    &:active {
                        color: dimgray;
                    }
                }
            }
        }
    }
}

table {
    margin: 24px auto;
    border-spacing: 0 16px;

    &.table-categories {
        width: 90%;
    }

    &.table-antipassoires {
        width: 100%;
    }

    thead {

        tr {

            th {
                text-align: left;
                padding: 8px;
            }
        }
    }

    tbody {

        tr {

            td {

            }
        }
    }
}

form {

    label {
        display: block;
        margin: 16px 0 8px;

        &.required:after {
            content:" *";
        }
    }

    input,
    textarea {
        width: auto;
        padding: 16px;
        border-width: 0;
        border-style: solid;
        border-color: whitesmoke;
        border-radius: 8px;
    }

    input {
        width: 30%;
        height: 32px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.btn {
    display: inline-block;
    font-size: 1.5rem;
    margin: 16px 0 0;
    padding: 10px 15px;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;

    &.btn-create,
    &.btn-submit {
        color: whitesmoke;
        //background-color: dimgray;
        background-color: inherit;
        border-color: whitesmoke;
        transition: all .5s;

        &:hover {
            color: dimgray;
            background-color: whitesmoke;
            border-color: whitesmoke;
        }

        &:active {
            color: whitesmoke;
            background-color: #555555;
            border-color: whitesmoke;
        }
    }

    &.btn-create {
        margin: 24px 0 0;
    }
}

.rebus {
    display: flex;
    align-items: center;
    position:relative;
    color: whitesmoke;

    > div {
        display: inline-block;
        width: 48px;
        height: 48px;

        &.plus,
        &.text {
            width: auto;
            font-size: 3rem;
            font-weight: 300;
        }

        &.jambon {
            position: relative;

            .helper {
                position: relative;
                top: -24px;
                font-size: .8rem;
            }
        }

        &.haie,
        &.oie,
        &.caisse {
            position: relative;
            top: 8px;
        }

        &.haie {
            left: 4px;
        }

        &.caisse {
            left: 8px;
        }

        &.lame,
        &.aime,
        &.tee {
            position: relative;
            top: 4px;
            width: 42px;
            height: 42px;
        }

        &.tee {
            &::before {
                content: '→';
                position: absolute;
                top: 27px;
                transform: rotate(-30deg);
            }
        }

        &.on {
            width: 48px;
            font-size: 1rem;
            font-weight: 700;
        }

        svg {
            fill: whitesmoke;
        }
    }
}
