<div class="rebus">
    <div class="plus">+
{#        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">#}
{#            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>#}
{#        </svg>#}
    </div>
    <div class="text">J'</div>
    <div class="jambon">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 25.514 25.514" style="enable-background:new 0 0 25.514 25.514;" xml:space="preserve">
            <g>
                <g>
                    <path d="M24.914,20.589c-0.53-0.53-1.271-0.688-1.959-0.477l-2.754-2.754c1.165-3.919-2.065-10.75-8.049-16.787l0,0    c0,0,0,0-0.053-0.053l0,0l0,0l-0.212-0.212C11.834,0.253,11.675,0.2,11.569,0.2c-1.801-0.847-5.19,1.112-7.732,3.654    c-2.489,2.489-4.448,5.878-3.654,7.679c0,0.106,0.053,0.265,0.159,0.371l0.212,0.212l0,0l0,0c0,0,0,0,0.053,0.053l0,0    c6.09,5.984,12.921,9.214,16.787,8.049l2.754,2.754c-0.212,0.688-0.053,1.43,0.477,1.959c0.371,0.371,0.847,0.583,1.377,0.583    c0.477,0,1.006-0.212,1.377-0.583c0.265-0.265,0.477-0.635,0.53-1.006c0.371-0.053,0.688-0.265,1.006-0.53    C25.708,22.601,25.708,21.33,24.914,20.589z M4.684,4.596c2.277-2.277,4.713-3.548,5.984-3.548c0.265,0,0.424,0.053,0.583,0.159    l0,0c0.053,0,0.053,0.053,0.106,0.106c0,0,0,0,0.053,0.053c0,0,0,0.053,0.053,0.053c0.053,0.053,0.053,0.106,0.106,0.159V1.63    c0,0.053,0.053,0.106,0.053,0.159c0,0.053,0,0.159,0.053,0.265l0,0c0.053,1.271-1.218,3.707-3.548,6.037l0,0l0,0    C7.968,8.25,7.756,8.409,7.597,8.567C7.491,8.673,7.385,8.779,7.279,8.885C7.226,8.938,7.12,8.991,7.068,9.044    c-1.059,0.9-2.171,1.642-3.177,2.118c-0.847,0.371-1.589,0.53-2.065,0.424H1.772c-0.053,0-0.106-0.053-0.159-0.053    c-0.053,0-0.106-0.053-0.106-0.053l-0.053-0.053C0.554,10.527,1.825,7.455,4.684,4.596z M24.173,22.601    c-0.159,0.159-0.424,0.265-0.688,0.265c-0.159,0-0.318,0.053-0.424,0.159c-0.106,0.106-0.159,0.265-0.159,0.424    c0,0.265-0.053,0.53-0.265,0.688c-0.318,0.318-0.9,0.318-1.218,0c-0.265-0.265-0.318-0.741-0.159-1.059    c0.106-0.212,0.106-0.477-0.106-0.635l-3.23-3.23c-0.106-0.106-0.212-0.159-0.371-0.159c-0.053,0-0.106,0-0.212,0.053    c-3.177,1.218-9.162-1.483-14.722-6.461c0.106,0,0.265-0.053,0.371-0.053c0.053,0,0.159-0.053,0.212-0.053    s0.159-0.053,0.212-0.053c0.265-0.053,0.53-0.159,0.794-0.265c1.218-0.53,2.489-1.43,3.76-2.542    c0.053-0.053,0.106-0.106,0.159-0.159C8.18,9.468,8.286,9.362,8.338,9.309C8.497,9.15,8.656,8.991,8.815,8.885l0,0l0,0l0,0    c0.159-0.159,0.318-0.318,0.424-0.477C9.292,8.356,9.345,8.303,9.398,8.25c0.106-0.106,0.212-0.265,0.318-0.371    C9.768,7.826,9.821,7.72,9.874,7.667c0.106-0.106,0.212-0.265,0.318-0.371c0.053-0.106,0.159-0.159,0.212-0.265    c0.053-0.053,0.106-0.106,0.159-0.159c0.265-0.371,0.53-0.741,0.741-1.112l0,0c0.688-1.059,1.165-2.118,1.324-3.071    c4.978,5.56,7.679,11.545,6.461,14.722c-0.053,0.212-0.053,0.424,0.106,0.583l3.23,3.23c0.159,0.159,0.424,0.212,0.635,0.106    c0.318-0.212,0.794-0.159,1.059,0.159c0.159,0.159,0.265,0.371,0.265,0.635S24.331,22.442,24.173,22.601z"/>
                    <path d="M5.161,8.885c0.688,0,1.483-0.371,2.171-1.059C8.444,6.714,8.709,5.39,8.021,4.702C7.65,4.331,7.068,4.225,6.432,4.437    c-0.53,0.159-1.112,0.53-1.589,1.006C3.731,6.555,3.466,7.879,4.155,8.567C4.473,8.779,4.79,8.885,5.161,8.885z M5.691,6.131    c0.53-0.53,1.112-0.794,1.43-0.794c0.106,0,0.159,0,0.212,0.053c0.159,0.159,0,0.9-0.688,1.642    C5.902,7.773,5.161,7.879,5.002,7.72C4.79,7.614,4.949,6.873,5.691,6.131z"/>
                </g>
            </g>
        </svg>
        <div class="helper">en anglais</div>
    </div>
    <div class="haie">
        <img src="{{ asset('build/img/white-hedge.png') }}" style="width:55px; height: 50px;">
    </div>
    <div class="text">2</div>
    <div class="text">f</div>
    <div class="oie">
        <img src="{{ asset('build/img/oie_blanc.png') }}" style="width:40px; height: 40px;">
    </div>
    <div class="lame">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve">
            <g>
                <g>
                    <path d="M396.603,108.84c-4.81,0-8.708,3.899-8.708,8.708v322.244c0,2.069-1.173,3.296-1.872,3.844
                c-0.699,0.548-2.166,1.392-4.18,0.897l-29.73-7.331c-6.165-1.522-12.574-0.145-17.576,3.772c-5.002,3.918-7.869,9.81-7.869,16.161
                v22.251c0,8.38-6.818,15.198-15.199,15.198H200.525c-8.381,0-15.199-6.818-15.199-15.198v-22.251
                c0-6.353-2.869-12.243-7.869-16.161s-11.409-5.293-17.577-3.772l-29.728,7.331c-2.01,0.495-3.482-0.349-4.181-0.897
                c-0.7-0.548-1.872-1.775-1.872-3.844V73.144c0-2.136,1.234-3.372,1.969-3.919c0.736-0.547,2.277-1.373,4.32-0.756l28.489,8.576
                c6.279,1.889,12.9,0.731,18.165-3.182c5.264-3.913,8.284-9.919,8.284-16.477V32.613c0-8.38,6.818-15.198,15.199-15.198H311.47
                c8.381,0,15.199,6.818,15.199,15.198v24.77c0,6.559,3.02,12.565,8.284,16.477c5.263,3.913,11.887,5.071,18.165,3.182l28.489-8.576
                c2.042-0.617,3.583,0.209,4.32,0.756c0.735,0.547,1.969,1.783,1.969,3.919c0,4.809,3.898,8.708,8.708,8.708
                s8.708-3.899,8.708-8.708c0-7.124-3.279-13.647-8.996-17.896c-5.718-4.249-12.909-5.508-19.729-3.455l-28.489,8.577
                c-1.307,0.394-2.286-0.135-2.755-0.483c-0.469-0.348-1.257-1.138-1.257-2.501V32.613C344.086,14.63,329.455,0,311.472,0H200.527
                c-17.983,0-32.614,14.63-32.614,32.613v24.77c0,1.363-0.788,2.153-1.257,2.501c-0.468,0.348-1.448,0.877-2.755,0.483
                l-28.489-8.577c-6.824-2.053-14.011-0.793-19.729,3.455c-5.717,4.249-8.996,10.772-8.996,17.896v366.649
                c0,6.9,3.116,13.298,8.547,17.554c5.43,4.255,12.386,5.749,19.088,4.096l29.728-7.331c1.286-0.315,2.222,0.224,2.668,0.572
                c0.446,0.349,1.194,1.133,1.194,2.452v22.251c0,17.983,14.631,32.613,32.614,32.613H311.47c17.983,0,32.614-14.63,32.614-32.613
                v-22.251c0-1.32,0.749-2.103,1.194-2.452c0.446-0.348,1.38-0.889,2.667-0.572l29.73,7.331c6.7,1.651,13.658,0.159,19.087-4.096
                c5.432-4.255,8.547-10.654,8.547-17.554V117.548C405.31,112.739,401.413,108.84,396.603,108.84z"/>
                </g>
            </g>
            <g>
                <g>
                    <path d="M156.875,140.997c-4.81,0-8.708,3.899-8.708,8.708v212.59c0,4.809,3.898,8.708,8.708,8.708s8.708-3.899,8.708-8.708
			v-212.59C165.583,144.896,161.684,140.997,156.875,140.997z"/>
                </g>
            </g>
            <g>
                <g>
                    <path d="M354.311,140.997c-4.81,0-8.708,3.899-8.708,8.708v212.59c0,4.809,3.898,8.708,8.708,8.708
			c4.81,0,8.708-3.899,8.708-8.708v-212.59C363.019,144.896,359.121,140.997,354.311,140.997z"/>
                </g>
            </g>
            <g>
                <g>
                    <path d="M285.792,371.004c4.81,0,8.708-3.899,8.708-8.708s-3.898-8.708-8.708-8.708h-19.746l0.311-48.779
			c22.556-4.783,39.535-24.847,39.535-48.808c0-24.226-17.357-44.466-40.288-48.958l0.34-53.352h19.847
			c4.81,0,8.708-3.899,8.708-8.708s-3.898-8.708-8.708-8.708h-19.736l0.294-46.075h19.443c4.81,0,8.708-3.899,8.708-8.708
			s-3.898-8.708-8.708-8.708h-28.039h-0.057h-28.092c-4.81,0-8.708,3.899-8.708,8.708s3.898,8.708,8.708,8.708h19.33l-0.294,46.075
			h-19.036c-4.81,0-8.708,3.899-8.708,8.708s3.898,8.708,8.708,8.708h18.926l-0.338,53.029c-23.817,3.758-42.09,24.423-42.09,49.281
			c0,25.115,18.655,45.946,42.835,49.388l-0.307,48.2h-19.027c-4.81,0-8.708,3.899-8.708,8.708s3.898,8.708,8.708,8.708h18.915
			l-0.324,50.797h-18.591c-4.81,0-8.708,3.899-8.708,8.708s3.898,8.708,8.708,8.708h27.03c0.053,0.001,0.106,0.009,0.159,0.009
			c0.02,0,0.037,0,0.057,0c0.06,0,0.12-0.008,0.18-0.009h28.762c4.81,0,8.708-3.899,8.708-8.708s-3.898-8.708-8.708-8.708h-20.181
			l0.324-50.797H285.792z M255.998,288.481c-17.91,0-32.481-14.571-32.481-32.481c0-17.91,14.571-32.481,32.481-32.481
			c17.91,0,32.481,14.571,32.481,32.481C288.478,273.911,273.908,288.481,255.998,288.481z"/>
                </g>
            </g>
        </svg>
    </div>
    <div class="aime">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 490.4 490.4" style="enable-background:new 0 0 490.4 490.4;" xml:space="preserve">
            <g>
                <g>
                    <path d="M222.5,453.7c6.1,6.1,14.3,9.5,22.9,9.5c8.5,0,16.9-3.5,22.9-9.5L448,274c27.3-27.3,42.3-63.6,42.4-102.1
			c0-38.6-15-74.9-42.3-102.2S384.6,27.4,346,27.4c-37.9,0-73.6,14.5-100.7,40.9c-27.2-26.5-63-41.1-101-41.1
			c-38.5,0-74.7,15-102,42.2C15,96.7,0,133,0,171.6c0,38.5,15.1,74.8,42.4,102.1L222.5,453.7z M59.7,86.8
			c22.6-22.6,52.7-35.1,84.7-35.1s62.2,12.5,84.9,35.2l7.4,7.4c2.3,2.3,5.4,3.6,8.7,3.6l0,0c3.2,0,6.4-1.3,8.7-3.6l7.2-7.2
			c22.7-22.7,52.8-35.2,84.9-35.2c32,0,62.1,12.5,84.7,35.1c22.7,22.7,35.1,52.8,35.1,84.8s-12.5,62.1-35.2,84.8L251,436.4
			c-2.9,2.9-8.2,2.9-11.2,0l-180-180c-22.7-22.7-35.2-52.8-35.2-84.8C24.6,139.6,37.1,109.5,59.7,86.8z"/>
                </g>
            </g>
        </svg>
    </div>
    <div class="caisse">
        <img src="{{ asset('build/img/caisse_blanc.png') }}" style="width:40px; height: 40px;">
    </div>
    <div class="tee">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 297 297" style="enable-background:new 0 0 297 297;" xml:space="preserve">
            <g>
                <path d="M113.739,153.887h69.523c27.25-13.021,46.128-40.835,46.128-72.997C229.39,36.287,193.103,0,148.5,0
                    S67.61,36.287,67.61,80.89C67.61,113.052,86.488,140.866,113.739,153.887z M196.416,58.159c1.341-1.331,3.185-2.099,5.069-2.099
                    c1.894,0,3.737,0.768,5.069,2.099c1.341,1.331,2.099,3.185,2.099,5.069c0,1.884-0.758,3.737-2.099,5.069
                    c-1.332,1.331-3.185,2.099-5.069,2.099c-1.884,0-3.728-0.768-5.069-2.099c-1.331-1.332-2.099-3.185-2.099-5.069
                    C194.318,61.343,195.085,59.489,196.416,58.159z M196.416,93.484c1.341-1.331,3.185-2.099,5.069-2.099
                    c1.894,0,3.737,0.768,5.069,2.099c1.341,1.331,2.099,3.185,2.099,5.069c0,1.884-0.758,3.737-2.099,5.069
                    c-1.332,1.331-3.185,2.099-5.069,2.099c-1.884,0-3.728-0.768-5.069-2.099c-1.331-1.332-2.099-3.185-2.099-5.069
                    C194.318,96.669,195.085,94.815,196.416,93.484z M178.754,75.821c1.331-1.331,3.185-2.099,5.069-2.099
                    c1.894,0,3.737,0.768,5.069,2.099c1.341,1.331,2.099,3.185,2.099,5.069c0,1.884-0.758,3.737-2.099,5.069
                    c-1.332,1.331-3.175,2.099-5.069,2.099c-1.884,0-3.728-0.768-5.069-2.099c-1.331-1.332-2.099-3.185-2.099-5.069
                    C176.655,79.006,177.423,77.152,178.754,75.821z M178.754,111.146c1.341-1.331,3.185-2.099,5.069-2.099
                    c1.894,0,3.737,0.768,5.069,2.099c1.341,1.331,2.099,3.185,2.099,5.069c0,1.884-0.758,3.737-2.099,5.069
                    c-1.332,1.331-3.185,2.099-5.069,2.099c-1.884,0-3.728-0.768-5.069-2.099c-1.331-1.332-2.099-3.175-2.099-5.069
                    C176.655,114.331,177.423,112.477,178.754,111.146z M161.091,93.484c1.331-1.331,3.185-2.099,5.069-2.099
                    c1.894,0,3.737,0.768,5.069,2.099c1.341,1.331,2.099,3.185,2.099,5.069c0,1.884-0.758,3.737-2.099,5.069
                    c-1.332,1.331-3.175,2.099-5.069,2.099c-1.884,0-3.728-0.768-5.069-2.099c-1.331-1.332-2.099-3.185-2.099-5.069
                    C158.992,96.669,159.76,94.815,161.091,93.484z M161.091,128.809c1.341-1.331,3.185-2.099,5.069-2.099
                    c1.894,0,3.737,0.768,5.069,2.099c1.341,1.331,2.099,3.185,2.099,5.069c0,1.884-0.758,3.737-2.099,5.069
                    c-1.332,1.331-3.175,2.099-5.069,2.099c-1.884,0-3.728-0.768-5.069-2.099c-1.331-1.332-2.099-3.185-2.099-5.069
                    C158.992,131.994,159.76,130.14,161.091,128.809z M143.428,111.146c1.341-1.331,3.185-2.099,5.069-2.099
                    c1.894,0,3.737,0.768,5.069,2.099c1.341,1.331,2.099,3.185,2.099,5.069c0,1.884-0.758,3.737-2.099,5.069
                    c-1.332,1.331-3.185,2.099-5.069,2.099c-1.884,0-3.728-0.768-5.069-2.099c-1.331-1.332-2.099-3.185-2.099-5.069
                    C141.33,114.331,142.098,112.477,143.428,111.146z M125.766,128.809c1.331-1.331,3.185-2.099,5.069-2.099
                    c1.894,0,3.737,0.768,5.069,2.099c1.341,1.331,2.099,3.185,2.099,5.069c0,1.884-0.758,3.737-2.099,5.069
                    c-1.332,1.331-3.175,2.099-5.069,2.099c-1.884,0-3.728-0.768-5.069-2.099c-1.331-1.332-2.099-3.185-2.099-5.069
                    C123.667,131.994,124.435,130.14,125.766,128.809z"/>
                <path d="M132.548,194.932c1.29,1.291,2.015,3.041,2.015,4.865v91.932c0,2.911,2.359,5.27,5.27,5.27h17.334
                    c2.911,0,5.27-2.359,5.27-5.27v-91.932c0-1.824,0.725-3.574,2.015-4.865l20.891-20.891c3.32-3.32,0.969-8.997-3.726-8.997h-66.233
                    c-4.695,0-7.047,5.677-3.726,8.997L132.548,194.932z"/>
            </g>
        </svg>
    </div>
    <div class="on">
        <div>il,</div>
        <div>elle,</div>
        <div>??</div>
    </div>
    <div class="text">!</div>
</div>
