{% extends 'admin/base.html.twig' %}

{% block body %}
    <h2>{{ pageTitlePrefix }} d'une catégorie</h2>

    {% include 'admin/_layouts/flash_message.html.twig' %}

    {{ form(form) }}
{% endblock %}
