{% extends 'base.html.twig' %}

{% block body %}
    <h2>Liste des catégories</h2>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message|raw }}</div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-error" role="alert">{{ message|raw }}</div>
    {% endfor %}

    <ul>
    {% for category in categories %}
        <li><a href="{{ path('admin_category_edit', {slug: category.slug}) }}">{{ category.label }}</a></li>
    {% else %}
        <li>Il n'y a pas de catégories enregistrées</li>
    {% endfor %}
    </ul>
{% endblock %}
