{% extends 'admin/base.html.twig' %}

{% block body %}
    <h2>{{ pageTitlePrefix }} d'un anti passoire</h2>

    {% include 'admin/_layouts/flash_message.html.twig' %}

    {{ form(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('searcher') }}
{% endblock %}
