{% extends 'admin/base.html.twig' %}

{% block body %}
    <h2>Liste des anti passoire</h2>

    {% include 'admin/_layouts/flash_message.html.twig' %}

    <a href="{{ path('admin_antipassoire_create') }}">Créer un anti passoire</a>

    <ul>
        {% for antiPassoire in antiPassoires %}
            <li><a href="{{ path('admin_antipassoire_edit', {slug: antiPassoire.slug}) }}">{{ antiPassoire.title }}</a></li>
        {% else %}
            <li>Il n'y a pas d'anti passoire enregistrés</li>
        {% endfor %}
    </ul>
{% endblock %}
